
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #e4e4e4;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    line-height: 1;
}